/* Color Pallette:
  var(--color-text) - Off White
  var(--color-secondary) - Cyan
  var(--color-primary) - Pink
  var(--color-tertiary) - Yellow
*/

@import "../utilities/Variables.css";
@import "../utilities/Heading.css";

.container {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.header_container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.contact_container,
.socials_container,
.contact_form_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.contact_container {
  background-color: var(--color-secondary);
}

.background_addon1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 100%;
  height: 100%;
  transform: rotateZ(100deg);
  background: var(--color-secondary);
  z-index: -1;
}

.background_addon2 {
  position: absolute;
  top: 70%;
  left: -25%;
  z-index: 0;
  width: 100%;
  height: 100%;
  transform: rotateZ(15deg);
  background: var(--color-tertiary);
  z-index: -1;
}

.heading_container {
  width: 50%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  z-index: 1;
}

.contact_content_container,
.socials_content_container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.contact_content,
.social_content {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_link,
.social_link {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.3s ease;
  cursor: default;
}

.contact_link i,
.social_link i {
  font-size: 3rem;
}

.contact_link p,
.social_link p {
  font-size: 1.5rem;
}

.contact_link i:hover,
.social_link i:hover {
  transform: scale(1.05);
  color: var(--color-tertiary);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contact_link p:hover,
.social_link p:hover {
  transform: scale(1.05);
  color: var(--color-tertiary);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  cursor: pointer;
}

.socials_container {
  margin-top: 15vh;
  background-color: var(--color-primary);
}

.background_addon3 {
  position: absolute;
  top: -70%;
  left: 0%;
  z-index: -1;
  width: 120%;
  height: 100%;
  transform: rotateZ(5deg);
  background: var(--color-primary);
}

.background_addon4 {
  position: absolute;
  top: 0%;
  left: 60%;
  z-index: -1;
  width: 120%;
  height: 100%;
  transform: rotateZ(-55deg);
  background: var(--color-tertiary);
}

.contact_form_container {
  background-color: var(--color-primary);
}

.background_addon5 {
  position: absolute;
  top: 70%;
  left: -25%;
  width: 100%;
  height: 100%;
  transform: rotateZ(10deg);
  background-color: var(--color-secondary);
  z-index: -1;
}

.background_addon6 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: rotateZ(-40deg);
  background-color: var(--color-tertiary);
  z-index: -1;
}

.contact_form_wrap {
  width: 40%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 25px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.input_box {
  width: 75%;
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.label {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  top: 35%;
  left: 5%;
  position: absolute;
  z-index: 10;
  padding: 0 10px;
  z-index: -1;
}

.input_box input {
  width: 100%;
  height: 50%;
  background-color: transparent;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 0 10px;
  z-index: 1;
}

.input_box textarea {
  width: 100%;
  height: 80%;
  background-color: transparent;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  font-size: 1rem;
  outline: none;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 0 10px;
  z-index: 1;
  resize: none;
}

.input_box input:focus,
.input_box input:valid,
.input_box textarea:focus,
.input_box textarea:valid {
  border-width: 3px;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.input_box input:focus + .label,
.input_box input:valid + .label {
  transform: translate(-15%, -90%) scale(0.88);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  z-index: 10;
}

.input_box textarea:focus + .label,
.input_box textarea:valid + .label {
  color: rgba(255, 255, 255, 0.15);
  transform: translate(-15%, -100%) scale(0.88);
}

form button {
  width: 30%;
  height: 10%;
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: var(--color-tertiary);
  transform: scale(1.1);
  color: black;
}

form button:active {
  transform: scale(0.9);
  background-color: red !important;
  transform: translateY(10%);
}

.buffer {
  width: 100%;
  height: 25vh;
  background-color: var(--color-primary);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .contact_form_wrap {
    width: 80%;
    height: 66%;
  }
}

@media screen and (max-width: 600px) {
  .contact_link p {
    font-size: 1rem;
  }

  .contact_link i {
    font-size: 2.25rem;
  }

  form button {
    width: 50%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .label {
    font-size: 1.25rem;
  }
}
