/* Color Pallette:
  var(--color-text) - Off White
  var(--color-secondary) - Cyan
  var(--color-primary) - Pink
  var(--color-tertiary) - Yellow
*/

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--color-primary);
  z-index: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.heading_wrap {
  width: 50%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  z-index: 1;
  color: var(--color-text);
}

.heading {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.heading:hover {
  color: var(--color-text);
  transform: scale(1.05);
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.line {
  width: 50%;
  height: 5px;
  background-color: var(--color-text);
  border-radius: 3px;
  flex-shrink: 0;
}

.subheading {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2.5%;
  color: var(--color-text);
  transition: all 0.3s ease;
}

.subheading:hover {
  transform: scale(1.05);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.backgroundaddon1 {
  position: absolute;
  top: 70%;
  left: -25%;
  width: 100%;
  height: 100%;
  transform: rotateZ(10deg);
  background-color: var(--color-secondary);
  z-index: -1;
}

.backgroundaddon2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: rotateZ(-40deg);
  background-color: var(--color-tertiary);
  z-index: -1;
}

.content_wrap {
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  list-style-type: none;
  margin-right: 3.21%;
}

.content_item {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.5rem;
  transition: all 0.3s ease;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  cursor: default;
}

.link i {
  font-size: 3rem;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.link i:hover {
  color: var(--color-tertiary);
  cursor: pointer;
  scale: 1.05;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.link p:hover {
  color: var(--color-tertiary);
  cursor: pointer;
  scale: 1.05;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .line {
    width: 65%;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .content_item p {
    font-size: 1.2rem;
  }

  .content_item i {
    font-size: 2.5rem;
  }

  .content_list {
    margin-right: 6.25%;
  }
}

@media screen and (max-width: 600px) {
  .line {
    width: 80%;
  }

  .heading {
    font-size: 1.75rem;
  }

  .subheading {
    font-size: 0.9rem;
  }

  .content_item p {
    font-size: 1rem;
  }

  .content_item i {
    font-size: 2.25rem;
  }

  .content_list {
    margin-right: 10%;
  }
}
