/* Color Pallette:
  var(--color-text) - Off White
  #0ad2d3 - Cyan
  var(--color-primary) - Pink
  var(--color-tertiary) - Yellow
*/

.container {
  width: 100%;
  height: 50vh;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.socials_row {
  width: 50%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.i_link {
  text-decoration: none;
}

.i_link i {
  color: var(--color-text);
  font-size: 2.5rem;
  transition: 0.3s ease all;
}

.i_link i:hover {
  color: var(--color-tertiary);
  cursor: pointer;
  scale: 1.1;
}

.nav_row {
  width: 40%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.text_link {
  color: var(--color-text);
  font-size: 1.25rem;
  transition: 0.3s ease all;
  cursor: pointer;
  text-decoration: none;
}

.text_link:hover {
  color: var(--color-tertiary);
  scale: 1.1;
}

.other_row {
  width: 40%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.copyright_row {
  width: 40%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.copyright_row p {
  color: var(--color-text);
  font-size: 1.25rem;
}

.copyright_row p:hover {
  scale: 1.1;
}
