/* Color Pallette:
  var(--color-text) - Off White
  var(--color-secondary) - Cyan
  #f990e8 - Pink
  #FFF01F - Yellow
*/

.container {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.header_container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.HomeImage_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.buffer {
  width: 100%;
  height: 25vh;
  background-color: var(--color-primary);
  position: relative;
  z-index: 0;
  overflow: hidden;
}
