/* Color Pallette:
  var(--color-text) - Off White
  var(--color-secondary) - Cyan
  var(--color-primary) - Pink
  var(--color-tertiary) - Yellow
*/

@import "../utilities/Variables.css";

.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: -100;
  position: relative;
  overflow: hidden;
}

.heading_container {
  width: 50%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  z-index: 1;
}

.heading {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.heading:hover {
  color: var(--color-text);
  transform: scale(1.05);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.line {
  width: 100%;
  height: 5px;
  background-color: var(--color-text);
  border-radius: 3px;
  flex-shrink: 0;
}

.subheading {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2.5%;
  color: var(--color-text);
  transition: all 0.3s ease;
}

.subheading:hover {
  transform: scale(1.05);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.background_addon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: rotateZ(100deg);
  background: var(--color-secondary);
}

.background_off {
  opacity: 0;
}

.background_addon2 {
  position: absolute;
  top: 70%;
  left: -25%;
  z-index: -2;
  width: 100%;
  height: 100%;
  transform: rotateZ(15deg);
  background: var(--color-tertiary);
}

.image_container_wrap {
  width: 45%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.image_container:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.image_container:hover .left_arrow,
.image_container:hover .right_arrow,
.image_container:hover .dot {
  opacity: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

.image_off {
  filter: brightness(0.2);
  transition: all 0.3s ease;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
  z-index: 2;
  width: 10%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease;
  user-select: none;
  opacity: 0.2;
}

.left_arrow {
  left: 5%;
}

.right_arrow {
  right: 5%;
}

.left_arrow:hover,
.right_arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dots_container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
}

.dot {
  margin: 0 5px;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  user-select: none;
  transition: all 0.3s ease;
  opacity: 0.2;
}

.active {
  color: var(--color-tertiary);
  scale: 1.2;
}

.dot:hover {
  color: var(--color-tertiary);
  scale: 1.2;
}

.animated_element {
  transition: all 0.3s ease;
}

.animated_element.active {
  animation: slideInLeft 0.5s ease;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 900px) {
  .image_container_wrap {
    width: 70%;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .heading_container {
    width: 70%;
    height: 30%;
  }

  .line {
    height: 3px;
  }

  .arrow {
    font-size: 1.75rem;
    width: 8%;
  }

  .dot {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .image_container_wrap {
    width: 80%;
  }

  .heading {
    font-size: 1.5rem;
  }

  .subheading {
    font-size: 0.9rem;
  }

  .heading_container {
    width: 80%;
    height: 35%;
  }

  .line {
    height: 2px;
  }

  .arrow {
    font-size: 1.25rem;
    width: 12%;
    aspect-ratio: 1 / 1;
  }

  .dot {
    font-size: 1.2rem;
  }
}
