/* Color Pallette:
  var(--color-text) - Off White
  var(--color-secondary) - Cyan
  var(--color-primary) - Pink
  var(--color-tertiary) - Yellow
*/

@import "../utilities/Variables.css";

* {
  transition: all 0.3s ease;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
}

.image {
  width: 90%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid var(--color-text);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.8);
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.container:hover .image {
  filter: brightness(1);
}

.container:hover .textContainer {
  background-color: rgba(0, 0, 0, 0.3);
}

.textContainer {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text);
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.title:hover,
.description:hover,
.btn:hover {
  transform: scale(1.05);
}

.btn {
  width: 80%;
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: var(--color-tertiary) !important;
  color: black !important;
}

.btn:active {
  transform: scale(0.95);
  background-color: red !important;
  transform: translateY(10%);
}

@media screen and (max-width: 900px) {
  .container {
    height: 90%;
  }

  .image {
    width: 50%;
    aspect-ratio: 16/9;
  }

  .textContainer {
    height: 50%;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 120%;
  }

  .image {
    width: 70%;
    aspect-ratio: 16/9;
  }

  .textContainer {
    height: 20%;
  }

  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 6px;
    width: 50%;
  }
}
