/* Color Pallette:
  var(--color-text) - Off White
  var(--color-secondary) - Cyan
  var(--color-primary) - Pink
  var(--color-tertiary) - Yellow
*/

@import "../utilities/Variables.css";

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image_container_wrap {
  width: 40%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.image_container:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.image_container:hover .left_arrow,
.image_container:hover .right_arrow,
.image_container:hover .dot {
  opacity: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

.image_off {
  filter: brightness(0.2);
  transition: all 0.3s ease;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
  z-index: 2;
  width: 10%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease;
  user-select: none;
  opacity: 0.2;
}

.left_arrow {
  left: 5%;
}

.right_arrow {
  right: 5%;
}

.left_arrow:hover,
.right_arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dots_container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
}

.dot {
  margin: 0 5px;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  user-select: none;
  transition: all 0.3s ease;
  opacity: 0.2;
}

.active {
  color: var(--color-tertiary);
  scale: 1.2;
}

.dot:hover {
  color: var(--color-tertiary);
  scale: 1.2;
}

.info_container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-text);
}

.header_container {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  z-index: 1;
}

.heading {
  font-size: 2rem;

  text-align: center;
  transition: all 0.3s ease;
}

.heading:hover {
  transform: scale(1.05);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.line {
  width: 100%;
  height: 5px;
  background-color: var(--color-text);
  border-radius: 10px;
  flex-shrink: 0;
}

.subheading {
  font-size: 1em;
  text-align: center;
  margin-top: 2.5%;
  color: var(--color-text);
  transition: all 0.3s ease;
}

.subheading:hover {
  transform: scale(1.05);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.back_button {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.5rem;
  color: var(--color-text);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
}

.back_button:hover {
  color: var(--color-tertiary);
  text-decoration: underline;
  transform: scale(1.1);
}

.info_container h2 {
  font-size: 1.5rem;
  margin: 0;
}

.info_container h2:hover {
  transform: scale(1.02);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.info_container button {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: var(--color-text);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 40%;
}

.info_container button:hover {
  background-color: var(--color-tertiary);
  color: black;
  transform: scale(1.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.info_container button:active {
  transform: scale(0.95);
  transform: translateY(10%);
  background-color: red !important;
}

@media screen and (max-width: 750px) {
  .arrow {
    font-size: 1.5rem;
    width: 15%;
    aspect-ratio: 1 / 1;
  }

  .heading {
    font-size: 1.5rem;
  }

  .subheading {
    font-size: 0.8rem;
  }

  .info_container h2 {
    font-size: 1.2rem;
  }

  .info_container button {
    font-size: 1.2rem;
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .back_button {
    font-size: 0.8rem;
  }

  .arrow {
    font-size: 1.5rem;
    width: 15%;
    aspect-ratio: 1 / 1;
  }

  .heading {
    font-size: 1.2rem;
  }

  .subheading {
    font-size: 0.6rem;
  }

  .info_container h2 {
    font-size: 1rem;
  }

  .image_container_wrap {
    margin-top: 10%;
    width: 60%;
  }

  .info_container button {
    width: 80%;
  }
}
