/* Color Pallette:
  var(--color-text) - Off White
  var(--color-secondary) - Cyan
  var(--color-primary) - Pink
  var(--color-tertiary) - Yellow
*/

@import "../utilities/Variables.css";
@import "../utilities/Heading.css";

.container {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.header_container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.content_container {
  width: 100%;
  height: 100vh;
  margin-top: 14vh;
  background-color: var(--color-secondary);
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.background_addon {
  position: absolute;
  top: -70%;
  left: 0%;
  z-index: -1;
  width: 120%;
  height: 100%;
  transform: rotateZ(5deg);
  background: var(--color-primary);
}

.background_addon2 {
  position: absolute;
  top: 15%;
  left: 54.18%;
  z-index: -1;
  width: 120%;
  height: 100%;
  transform: rotateZ(-44.5deg);
  background: var(--color-tertiary);
}

.rentals_container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.buffer {
  width: 100%;
  height: 25vh;
  background-color: var(--color-primary);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.contact_form_back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.contact_form_wrap {
  width: 40%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.form_heading {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.3s ease;
  display: inline-block;
}

.form_heading:hover {
  transform: scale(1.05);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 25px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.input_box {
  width: 75%;
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.label {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  top: 35%;
  left: 5%;
  position: absolute;
  z-index: 10;
  padding: 0 10px;
  z-index: -1;
}

.input_box input {
  width: 100%;
  height: 50%;
  background-color: transparent;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 0 10px;
  z-index: 1;
}

.input_box textarea {
  width: 100%;
  height: 80%;
  background-color: transparent;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  font-size: 1rem;
  outline: none;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 0 10px;
  z-index: 1;
  resize: none;
}

.input_box input:focus,
.input_box input:valid,
.input_box textarea:focus,
.input_box textarea:valid {
  border-width: 3px;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.input_box input:focus + .label,
.input_box input:valid + .label {
  transform: translate(-15%, -90%) scale(0.88);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  z-index: 10;
}

.input_box textarea:focus + .label,
.input_box textarea:valid + .label {
  transform: translate(-15%, -140%) scale(0.88);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  opacity: 0.2;
  z-index: 10;
}

.form_buttons button {
  width: 40%;
  height: 50%;
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

.form_buttons button:hover {
  background-color: var(--color-tertiary);
  transform: scale(1.1);
  color: black;
}

.form_buttons button:active {
  transform: scale(0.9);
  background-color: red !important;
  transform: translateY(10%);
}

.form_buttons {
  width: 75%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.alert {
  position: absolute;
  top: -10%;
  width: 50%;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 4.5s;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  .rentals_container {
    flex-direction: column;
  }

  .contact_form_wrap {
    width: 90%;
    height: 80%;
  }

  .label {
    font-size: 1rem;
  }

  .form_buttons button {
    font-size: 1rem;
    width: 45%;
  }
}
